html,
body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  overflow-y: hidden;
}

#app {
  height: 100% !important;
  width: 100% !important;
}

.root {
  display: flex;
  flex-flow: column;
  height: 100% !important;
  width: 100% !important;
}

.header {
  background: #000;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 4px;
  grid-column-start: 1;
  grid-column-end: 4;
}

.repoLink {
  z-index: 99;
}

.repoLink > img {
  float: right;
}

.config {
  display: grid;
  padding: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-auto-flow: column;
}

.interactions {
  grid-column: 2;
  grid-row-end: 8;
}

.runBtnHolder {
  grid-column-start: 1;
  grid-row-start: 7;
  margin: auto 0;
}

.interactionBtn {
  border-radius: 6px;
  cursor: pointer;
  min-width: 141px;
  height: 35px;
  margin: 5px;
  font-weight: bold;
  border: 1px solid;
  background: transparent;
}

.interactionBtn:disabled {
  color: #bbb;
  border: 1px solid #bbb;
  cursor: default;
}

.runBtn {
  border: 2px solid green;
  cursor: pointer;
  font-weight: bold;
  color: green;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 15px;
  width: 100%;
}

.runBtn:hover {
  background: green;
  color: white;
}

.config > * > input {
  width: 90%;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 10px;
}

.report {
  flex-grow: 1;
}

.report > iframe {
  border: 0 !important;
}

input :required {
  border: 1px solid red;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.code > pre {
  background: lightgrey;
  padding: 15px;
  font-size: 14px;
  margin: 0;
}

.codeHeader {
  display: grid;
  grid-auto-rows: 60px 1fr;
}

.copyBtn {
  border: 2px solid black;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  color: black;
  background: #fff;
  padding: 5px 15px;
  float: right;
  margin-right: 2%;
}

.placeholder {
  padding: 15px;
}

.layout-splitter {
  width: 12px !important;
  background: #000 !important;
  border: 25px solid #bbb;
  opacity: 0.5;
}

.layout-splitter:hover {
  opacity: 1;
}

.layout-splitter:active {
  opacity: 1;
}

.fieldName {
  display: block;
  width: 100%;
}

footer {
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .code {
    display: none;
  }

  .config {
    padding: 10px;
  }

  .layout-splitter {
    width: 12px !important;
    border: 10px solid #bbb;
  }
}
